<!--<div class="content">-->
<!--	<xo-material-breadcrumbs [breadcrumbs]="breadcrumbs"></xo-material-breadcrumbs>-->
<!--	<div class="content-inner">-->
<!--		<div class="content-wrap">-->
<!--&lt;!&ndash;			<h1>{{post.title}}</h1>&ndash;&gt;-->
<!--			<section [innerHtml]="post.content"></section>-->
<!--		</div>-->
<!--		<xo-material-back-to-top container="main"></xo-material-back-to-top>-->
<!--	</div>-->
<!--</div>-->


<div class="content">
{{log(post)}}
	<!-- about -->
	<div class="about-inner py-5">
		<div class="container pb-xl-5 pb-lg-3">
			<div class="row py-xl-4">
				<div class="col-lg-5 about-right-faq pr-5">
					<h6>À propos de nous</h6>
					<h3 class="mt-2 mb-3">Bienvenue sur notre site</h3>
					<p>Nous sommes une équipe de professionnels pour les services locaux.</p>

					<a href="about.html" class="btn button-style mt-sm-5 mt-4">Read More</a>
				</div>
				<div class="col-lg-7 welcome-right text-center mt-lg-0 mt-5">
					<img src="{{distUrl()}}/assets/img/about.png" alt="" class="img-fluid" />
				</div>
			</div>
		</div>
	</div>
	<!-- //about -->

	<!-- stats -->
	<section class="bottom-count py-5" id="stats">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-lg-5 left-img-w3ls">
					<img src="{{distUrl()}}/assets/img/b2.png" alt="" class="img-fluid" />
				</div>
				<div class="col-lg-7 right-img-w3ls pl-lg-4 mt-lg-2 mt-4">
					<div class="bott-w3ls mr-xl-5">
						<h3 class="title-w3 text-bl mb-3 font-weight-bold">Quelques faits réels sur l'entreprise</h3>
<!--						<p class="title-sub-2 mb-3">Excepteur sint occaecat cupidatat <br>non proident.</p>-->
<!--						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque-->
<!--							laudantium. </p>-->
						<br>
						<br>
						<br>
					</div>
					<div class="row mt-5">
						<div class="col-sm-4 count-w3ls">
							<h4>1000+</h4>
							<p>Projet terminé</p>
						</div>
						<div class="col-sm-4 count-w3ls mt-sm-0 mt-3">
							<h4>480+</h4>
							<p>Consultant</p>
						</div>
						<div class="col-sm-4 count-w3ls mt-sm-0 mt-3">
							<h4>600+</h4>
							<p>Primé</p>
						</div>
					</div>
					<div class="row mt-sm-5 mt-4">
						<div class="col-sm-4 count-w3ls">
							<h4>480+</h4>
							<p>Consultant</p>
						</div>
						<div class="col-sm-4 count-w3ls mt-sm-0 mt-3">
							<h4>600+</h4>
							<p>Primé</p>
						</div>
<!--						<div class="col-sm-4 count-w3ls mt-sm-0 mt-3">-->
<!--							<h4>1000+</h4>-->
<!--							<p>Project completed</p>-->
<!--						</div>-->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //stats -->

	<!-- team -->
	<section class="team bg-li py-5" id="team">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="tittle text-center font-weight-bold">Our Awesome Team</h3>
<!--			<p class="sub-tittle text-center mt-3 mb-sm-5 mb-4">Sed do eiusmod tempor incididunt ut labore et dolore magna-->
<!--				aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>-->
			<div class="row ab-info second pt-lg-4">
				<div class="col-lg-4 col-sm-6 ab-content text-center mt-lg-0 mt-4">
					<div class="ab-content-inner">
						<img src="{{distUrl()}}/assets/img/t1.jpg" alt="news image" class="img-fluid">
						<div class="ab-info-con">
							<h4 class="text-team-w3">Marouen Hattab</h4>
							<ul class="list-unstyled team-socil-w3pvts">
								<li class="d-inline">
									<a href="#"><span class="fa fa-facebook"></span></a>
								</li>
								<li class="d-inline">
									<a href="#"><span class="fa fa-twitter"></span></a>
								</li>
								<li class="d-inline">
									<a href="#"><span class="fa fa-google-plus"></span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 ab-content text-center mt-lg-0 mt-4">
					<div class="ab-content-inner">
						<img src="{{distUrl()}}/assets/img/t2.jpg" alt="news image" class="img-fluid">
						<div class="ab-info-con">
							<h4 class="text-team-w3">Mario Spe</h4>
							<ul class="list-unstyled team-socil-w3pvts">
								<li class="d-inline">
									<a href="#"><span class="fa fa-facebook"></span></a>
								</li>
								<li class="d-inline">
									<a href="#"><span class="fa fa-twitter"></span></a>
								</li>
								<li class="d-inline">
									<a href="#"><span class="fa fa-google-plus"></span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 ab-content text-center mt-lg-0 mt-4">
					<div class="ab-content-inner">
						<img src="{{distUrl()}}/assets/img/t3.jpg" alt="news image" class="img-fluid">
						<div class="ab-info-con">
							<h4 class="text-team-w3">Turn Paige</h4>
							<ul class="list-unstyled team-socil-w3pvts">
								<li class="d-inline">
									<a href="#"><span class="fa fa-facebook"></span></a>
								</li>
								<li class="d-inline">
									<a href="#"><span class="fa fa-twitter"></span></a>
								</li>
								<li class="d-inline">
									<a href="#"><span class="fa fa-google-plus"></span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //team -->

	<!-- partners -->
	<section class="partners py-5" id="partners">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="tittle text-center font-weight-bold">Our Partners</h3>
<!--			<p class="sub-tittle text-center mt-3 mb-sm-5 mb-4">Sed do eiusmod tempor incididunt ut labore et dolore magna-->
<!--				aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>-->
			<div class="row grid-part text-center pt-4">
				<div class="col-md-2 col-4">
					<div class="parts-w3ls">
						<a href="#"><img src="https://img.icons8.com/small/96/000000/github.png"></a>
						<h4>Github</h4>
					</div>
				</div>
				<div class="col-md-2 col-4">
					<div class="parts-w3ls">
						<a href="#"><img src="https://img.icons8.com/color/96/000000/gitlab.png"></a>
						<h4>Gitlab</h4>
					</div>
				</div>
				<div class="col-md-2 col-4">
					<div class="parts-w3ls">
						<a href="#"><img src="https://img.icons8.com/color/104/000000/cloudflare.png"></a>
						<h4>Cloudflare</h4>
					</div>
				</div>
				<div class="col-md-2 col-4 mt-md-0 mt-4">
					<div class="parts-w3ls">
						<a href="#"><img src="https://cdn1.iconfinder.com/data/icons/flat-and-simple-part-1/128/microsoft-512.png" style="width:98px;"></a>
						<h4>Microsoft</h4>
					</div>
				</div>
				<div class="col-md-2 col-4 mt-md-0 mt-4">
					<div class="parts-w3ls">
						<a href="#"><img src="https://img.icons8.com/color/96/000000/google-logo.png"></a>
						<h4>Google</h4>
					</div>
				</div>
				<div class="col-md-2 col-4 mt-md-0 mt-4">
					<div class="parts-w3ls">
						<a href="#"><img src="http://www.jetbrains.org/intellij/sdk/docs/jetbrains.png" style="width:98px;"></a>
						<h4>Jetbrains</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //partners -->

</div>